*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
   
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 14px;
  
    
}
.container-2{
   border: 1px solid black;
   padding: 30px;
   background-color: rgb(243, 243, 243);
   
}
td{
    padding-top: 14px;
}

input[type="text"] ,[type="password"]{
    width: 200px;
    height: 24px;
    
}
button[type="submit"]{
    margin-top: 10px;
    width: 355px;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgb(83, 86, 221);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 50px;
}
